@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,400,500,800&display=swap');
$mainFont:Montserrat;
.slider{
    position: fixed;
    font-family: $mainFont;
    height: 100vh;
    top:10%;
    left: -78%;
    background: rgb(253, 253, 253);
    width: 75vw;
    transition: .5s !important;
    z-index: 10;
    i{
        position: relative;
        top:10px !important;
        left:10%;
        font-size:2.5rem !important;
        color: rgb(42, 42, 42);
        z-index: 100;
    }
   .container{
       position: relative;
       top:5%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

    .img{
        height:120px;
        width:120px;
        border-radius: 50%;
        margin:10px;
        background-image: url(../img/Stunning-Digital-Art-Paintings-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1{
        font-weight: 500;
    }
    h4{
        position: relative;
        top:-40px;
        font-weight: 400;
    }

    .slideNav{
        position: relative;
        top:-10vh !important;
        left: -3%;
        list-style: none;
        text-align: left !important;
        display: flex;
        flex-direction: column;
        width: 70%;
        hr{
            height:1px;
            background:rgba(138, 138, 138, 0.205);
            width:100%;
        }
        li{
            padding:3px 8px;
            margin:5px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.075);
            font-weight: 500;

            div{
                display: flex;
                justify-content: left;
                align-items: baseline;
                vertical-align:middle;
           
               span{
                i{
                    position: relative;
                    top:5px !important;
                    left: -5px !important;
                    font-size: 20px !important;
                    float: left;
                }
               }
               .no{
                   position: relative;
                   left: 10%;
                   background:rgb(212, 101, 212);
                   padding:4px 17px;
                   float: right;
                   border-radius: 20px;
                   color:white;
               }
            }
            &:hover{
                background:#e1e9ff;
                i{
                    color:rgb(9, 110, 211);
                }
            }
       
        }
      

    
    }












   }
}

.search_open{
    transition: .5s !important;

    transform-origin: right !important;
    z-index:10 !important; 
    width: 160px !important;
    left:55% !important;
    transition: .5s !important;

    opacity: 1 !important;

}
.search_open1{
    position: absolute;
    z-index:100 !important; 
    position: absolute;
    top:50%;
    left:39.5%;
    transform: translate(-50%,-50%);
    transition: .5s !important;


}

.open{
    left: 0%;
    transition: .5s;
    
}
.fade{
    opacity: 1 !important;
    transition: .5s;
}
.fade1{
    transition: .5s;
    opacity: 0;
}




body{
    padding:0;
    margin:0;
    background:rgb(237, 237, 255);
}
nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    padding:5px 0;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.061);
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .5s;

        li{
            .cross{
                position: absolute;
                left: 10%;
                top:25%;
                font-size: 2rem !important;
                opacity: 0;
            }
            i{
                font-size: 1.4rem !important;
                padding-right:1.3rem;
                color: rgb(51, 51, 51);
                cursor: pointer;
                transition: .5s;

            }
            img{
                height: 1.3rem;
            }
            .input{

                position: absolute;
                top:50%;
                left:90%;
                transform: translate(-50%,-50%);
                border: none;
                border:1px solid rgb(156, 156, 156);
                border-radius: 30px;
                padding:4px 4px 4px 30px;
                box-sizing: border-box;
                opacity: 0;
                z-index: -9;
                transition: .5s;

            }

        }
    }
}

.body{
    position: relative;
    top:14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .card{
        font-family: $mainFont;
        width: 300px;
        height: 350px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
        margin:15px;

        .img{
            flex:.7;
            background-image: url(../img/MICROSOFT.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .info{
            flex:1;
            text-align: center;
            h2{
                color: rgb(34, 34, 34);
            }
            h4{
                font-style: italic;
                font-weight: 600;

                color:rgb(102, 102, 102);
                span{
                    color:rgb(20, 107, 195);
                    cursor: pointer;

                }

            }
            
            ul{
                font-style: italic;
                color:rgb(58, 58, 58);
                font-weight: bold;
                width: 70%;
                list-style: none;
                display: flex;
                justify-content: space-evenly;;
                align-items: center;
                li:nth-child(3){
                    img{
                        height:35px;
                        width:35px;
                        border-radius: 50%;
                    }
                    div{
                        height: 35px;
                        width: 35px;
                        background:black;
                        border-radius: 50%;
                        background-image: url(../img/adult-beard-boy-casual-220453.jpg);
                        background-size: cover;

                    }
                }
                li:nth-child(2){
                    img{
                        height:35px;
                        width:35px;
                        border-radius: 50%;
                    }
                    div{
                        height: 35px;
                        width: 35px;
                        background:black;
                        border-radius: 50%;
                        background-image: url(../img/Stunning-Digital-Art-Paintings-1.jpg);
                        background-size: cover;

                    }
                }
            }
        }
    }
}


@media all and(min-width:800px)
{
    body{
        padding:0 !important;
        margin:0;
    }
   nav{
       .mobNav{
           display: none;
       }
       .input{
           display: none;
       }
       .search_icon{
           display: none;
       }
       .search_icon1{
           display: block !important;
       }
   }
   .body{
       flex-direction: row;
       flex-wrap: wrap;
       width: 70%;
       float: right;
   }
 
   .slider{
    position: fixed;
    top:5vh;
    left: 0%;
 width: 30%;
 height: 100vh;;

 background:rgb(237, 237, 255);
    i{
        position: relative;
        top:10px !important;
        left:10%;
        font-size:2.5rem !important;
        color: rgb(42, 42, 42);
        z-index: 100;
    }
   .container{
       position: relative;
       top:5%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

    .img{
        height:120px;
        width:120px;
        border-radius: 50%;
        margin:10px;
        background-image: url(../img/Stunning-Digital-Art-Paintings-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1{
        font-weight: 500;
    }
    h4{
        position: relative;
        top:-40px;
        font-weight: 400;
    }

    .slideNav{
        position: relative;
        top:-5vh !important;
        left: -3%;
        list-style: none;
        text-align: left !important;
        display: flex;
        flex-direction: column;
        width: 70%;
        hr{
            height:1px;
            background:rgba(138, 138, 138, 0.205);
            width:100%;
        }
        li{
            padding:3px 8px;
            margin:5px;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.075);
            font-weight: 500;

            div{
                display: flex;
                justify-content: left;
                align-items: baseline;
                vertical-align:middle;
           
               span{
                i{
                    position: relative;
                    top:5px !important;
                    left: -5px !important;
                    font-size: 20px !important;
                    float: left;
                }
               }
            }
            &:hover{
                background:#e1e9ff;
                i{
                    color:rgb(9, 110, 211);
                }
            }
       
        }
      

    
    }


   }
}

}